[submodule "horovod"]
	path = horovod
	url = https://github.com/horovod/horovod.git
[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "mpich"]
	path = mpich
	url = https://github.com/pmodels/mpich.git
[submodule "docker-hadoop"]
	path = docker-hadoop
	url = https://github.com/big-data-europe/docker-hadoop.git
